body{
    background-image: url(img2.htm);

}
#img-div{
  position: relative;
  top: 0;
  left: 0;
}
#image
{
  position: absolute;
  top: 200px;
  left: 80px;
margin-left: 100px;

}
ul{
    margin-left: 350px;
    margin-right: 300px;
}
h3{
    margin-left: 200px;
}
h4{
    margin-left: 390px;
}
#title{
    margin-left: 390px;
    font-family: Arial, Helvetica, sans-serif;
  
}
p{
    margin-left: 400px;
    font-size: 20px;
}